@model List<Product>
@{
    ViewData["Title"] = "Products";
}
<div  style="padding:10px">
    <div class="text-center">
        <h1 class="display-4">Products Page</h1>
    </div>
    <a asp-action="Add" class="btn btn-primary">Add Product</a>
    <table class="table table-bordered table-hover"  >
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Price</td>
                <td>Image</td>
                <td>Description</td>
                <td>Category</td>
                <td></td>
            </tr>
        </thead>
        @foreach (Product item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td> <img src="~/images/@item.ImageURl" style="width:30px" /></td>
                <td>@item.Description</td>
                <td>@item.Category.Name</td>
                <td>
                    <a asp-action="Details" asp-route-Id="@item.Id" class="btn btn-primary">
                        Details
                    </a>
                    <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary">
                        Edit
                    </a>
                    <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger"
                       onclick="return confirm('Are your sure to delete this item ...?')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </table>

</div>

